
@{
    ViewData["Title"] = "AccessDenied";
}

<center>
    <h3 class="text-danger">Access Denied</h3>
    <p>You are not allowed to open this page. <a asp-action="ContactUs">Contact us</a> if you are facing an issue.</p>
    <img src="~/images/AccessDenied.png" style="width:300px; height:auto"/>
</center>